.control-panel {
    display: flex;
    margin: 10pt auto;
    justify-content: center;
    align-items: center;
  }

h2 {
    text-align: center;
}

.btn-control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    -webkit-box-shadow: 0px 0px 0px 1px rgb(16, 31, 43);
    -moz-box-shadow: 0px 0px 0px 1px rgba(16, 31, 43);
    box-shadow: 0px 0px 0px 1px rgba(16, 31, 43);
    margin: 0 10px;
    background-color: rgb(0, 69, 126);
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}

.btn-control:hover,
.btn-control:focus {
    background-color: rgb(60, 150, 224);
    box-shadow: 0px 0px 0px 1.5px rgb(10, 48, 78);
}

.btn-control:disabled{
    background-color:  rgb(144, 154, 161);
    box-shadow: 0px 0px 0px 1px rgb(115, 129, 143);
}